/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type=] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* Код сайта */

/* Убираем внешние отступы */
body {
    margin: 0;
    background-color: #F2E5FF;
}

/* Задание ширины и длины сайта */
.main-section {
    min-height: 100%;
    margin: 0 auto;
    max-width: 100%;
}

/* Шапка сайта */
.banner {
    background-image: url(../img/banner.png);
    width: 100%;
    height: 535px;
    padding: 16% 0;
}

.banner_text {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 46px;
    font-weight: 800;
}

.section_1 {
    margin: 6% 10%;
    display: flex;
    justify-content: space-between;
}

.section_1_text {
    width: 500px;
    height: 304px;
    color: #000;
    font-size: 32px;
    font-weight: 500;
}

.section_1_img {
    width: 500px;
    height: 275px;
    background-image: url(../img/img1.png);
}

.section_2 {
    background: rgba(142, 189, 254, 0.49);
    margin: 6% 0;
    padding: 4% 10%;
}

.section_2_name {
    color: #000;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

.section_2_text {
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin: 3% 0;
}

.section_3 {
    padding: 4% 10%;
}

.section_3_name {
    color: #000;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
}

.section_3_bl {
    margin: 4% 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section_3_bl_img {
    background-image: url(../img/3img1.png);
    width: 507px;
    height: 254px;
}

.section_3_bl_img2 {
    background-image: url(../img/3img2.png);
    width: 305px;
    height: 299px;
}

.section_3_bl_img3 {
    background-image: url(../img/3img3.png);
    width: 480px;
    height: 288px;
}

.section_3_bl_text {
    width: 500px;
    height: 166px;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin: auto 0;
}

.section_3_text {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.section_3_block2 {
    margin: 5% 0;
}

.footer {
    background-image: url(../img/footer.png);
    width: 100%;
    height: 962px;
    padding: 10% 10% 0;
}

.footer_name {
    text-align: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
}

.footer_text {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    margin: 4% 0 0;
}